<style>
h1 {
  color: white;
  background: #006;
  padding: 6px;
  text-align: center;
}
.price {
  color: green;
  border: solid 3px green;
  padding: 4px;
}
img {
  float: left;
  margin-right: 40px;
  box-shadow: 8px 8px 4px gray;
  height: "200px";
}
p {
  margin-top: 24px;
  margin-bottom: 24px;
}
</style>

<h1>Airlines</h1>

<p><%= @airlines.count %> airlines shown.</p>
<%= paginate @airlines %>
<ul>
  <% @airlines.each do |d| %>
  <li><%= link_to d.name, "/airlines/#{d.id}" %></li>
  <% end %>
</ul>
